   @import url("shared.css");
   
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .intro {
    margin-bottom: 50px;
  }
  
  .intro h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .screenshots {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 140px;
  }
  
  .screenshots h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .screenshots img {
    width: calc(33.33% - 10px);
  }
  